################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProyectoProgramacion
/Proyecto.d8eb911e/x64/Debug
/x64/Debug
/ProyectoProgramacion.vcxproj.user
